<!DOCTYPE html>
<html lang="fi">
<head>
<meta charset="UTF-8" />



<title>{{event.name}}</title>
</head>
<body>

    
<div style="display: inline-block; vertical-align: top; width: 400px;">
    <h2> players</h2> <br>
    <table>
        {% for player in players %}
        <tr>
            <td>
                <a href="{{ player.link }}">
                    <img src="{{ player.pic_link }}" style="width:100px; height:100px;">
                </a>
            </td>
            <td style="padding: 8px;">
                <form method="post" action="{% url 'update_player' %}">
                    {% csrf_token %}
                    <input type="hidden" name="player_id" value="{{ player.id }}">
                    
                    <label>Name:</label><br>
                    <input type="text" name="name" value="{{ player.name }}" style="width:100%; margin-bottom: 5px;"><br>
                    
                    <label>Image URL:</label><br>
                    <input type="text" name="pic_link" value="{{ player.pic_link }}" style="width:100%; margin-bottom: 5px;"><br>
                    
                    <label>Profile Link:</label><br>
                    <input type="text" name="link" value="{{ player.link }}" style="width:100%; margin-bottom: 5px;"><br>
                    
                    <button type="submit" style="padding: 5px 10px; background: #4CAF50; color: white; border: none; cursor: pointer;">
                        Update
                    </button>
                </form>
        </tr>
        
        {% endfor %}
    </table>
</div>

<div style="display: inline-block; vertical-align: top; width: 400px;">
    <h2> games</h2> <br>
    <table>
        {% for game in games %}
        <tr>
            <td>
                <a href="{{ game.link }}">{{ game.name }}</a>
            </td>    
            <td>
                <form method="post" action="{% url 'update_game' %}">
                    {% csrf_token %}
                    <input type="hidden" name="game_id" value="{{ game.id }}">
                    
                    <label>Name:</label><br>
                    <input type="text" name="name" value="{{ game.name }}"><br>
                    
                    <label>Link:</label><br>
                    <input type="text" name="link" value="{{ game.link }}"><br>
                    
                    <label>Extra Text:</label><br>
                    <input type="text" name="extra_text" value="{{ game.extra_text }}"><br>
                    
                    <label>Extra Link:</label><br>
                    <input type="text" name="extra_link" value="{{ game.extra_link }}"><br>
                    
                    <button type="submit" style="padding: 5px 10px; background: #4CAF50; color: white; border: none; cursor: pointer;">
                    Update 
                    </button>
                    <br> ---------------
                </form>
            </td>
            
        </tr>
        
        {% endfor %} 
    </table>
</div>

<div style="display: inline-block; vertical-align: top; width: 400px;">
    <h2>Events</h2> <br>



    <table>
        <tr><td>
            <form method="post" action="{% url 'add_event' %}"onclick="return confirm('u sure want new  event??');">
                {% csrf_token %}
                <button type="submit" style="padding: 5px 10px; background: #4CAF50; color: white; border: none; cursor: pointer;">
                        add new event
                    </button>
                </form>
                <br> -
            </td>
        </tr>


        {% for event in events %}
        <tr>
            <td>
                <a href="{% url 'event' event_name=event.name  event_id=event.id %}">{{ event.name }}</a>
            </td>
            <td>
                <form method="post" action="{% url 'update_event' %}">
                    {% csrf_token %}
                    <input type="hidden" name="event_id" value="{{ event.id }}">
                    
                    <label>Name:</label><br>
                    <input type="text" name="name" value="{{ event.name }}"><br>
                    
                    
                    <label>Event Time (shown in title):</label><br>
                    <input type="text" name="event_time" value="{{ event.event_time }}"><br>
                    
                    <button type="submit" style="padding: 5px 10px; background: #4CAF50; color: white; border: none; cursor: pointer;">
                        Update
                    </button>
                    <br> ---------------
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>




</body>
</html>
