<!DOCTYPE html>
<html lang="fi">
<head>
<meta charset="UTF-8" />
<style>
    table, th, td {
      border: 2px solid black;
      border-collapse: separate;
      border-color: white;
      
    }
    body {
      background-color : black;
    }
    
    tr:hover {background-color: rgba(84, 255, 0, 1);}
    a:link {
      color: rgb(243, 168, 168);
    }
    a:visited {
      color: rgb(242, 120, 120);
    }
    a:hover {
      color: rgb(242, 69, 69);
    }
    a:active {
      color: rgb(244, 44, 44);
    }
</style>

{% block content %}
{% endblock %}