{% extends 'base.html' %}

{% block content %}


<title>{{event.name}}</title>
</head>
<BODY TEXT="white">

<h1 style="color:rgba(84, 255, 0, 1); background-color:rgba(0, 0, 0, 1); text-align:center; font-size:600%;">{{event.name}} Scoreboard {{event.event_time}}</h1>


<table style="width:100%">
  <tr>
  	<th style="width:30%"></th>

      {% for player in players %}
      <th style="width:8,75%"> <a href = {{player.link}}> {{player.name}}</a> <br><a href={{player.link}}>
                            <img src={{player.pic_link}} style="width:100px;height:100px;"></a></th>
      {% endfor %}
  </tr>

<tr>
  <th><p style="font-size:50px;">Yhteispisteet</p></th>
  {%if event.finished == False%}
    {%for score in total_scores%}    
      <th><p style="font-size:50px;">{{score}}</p></th>
      {%endfor%}
    
    {%else%}

      {%for score in total_scores%}
        
      {% if forloop.counter == winner %}
      <th style="background-color: gold;"><p style="font-size:50px;">{{score}}</p></th>

      {%else%}
        <th><p style="font-size:50px;">{{score}}</p></th>
      {%endif%}  
    {%endfor%}
  {%endif%}
</tr>

{%for game, row in scores%}
  {%if game.hiden == False%}
    <tr>
        <th><a href = "{% if '://' not in game.game.link %} http://{% endif %}{{game.game.link}}">{{game.game.name}} </a> 
          <a href =  "{% if '://' not in game.game.extra_link %} http://{% endif %}{{game.game.extra_link}}">{{game.game.extra_text}} </a></th>
          {%for col in row%} 
            <th>{{col}}</th>
          {%endfor%}

    </tr>
  {%endif%}
{%endfor%}
</table>

<a href="{% url 'manage_event' event_name=event.name event_id=event.id %}">
  Manage {{ event.name }}
</a>
TODO:: LINKKIT ULOS JA TOISAALTA SISÄÄN


</body>
</html>

{% endblock content%}